USE [QLCafe]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 12/16/2019 11:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[MABAN] [int] NOT NULL,
	[TENBAN] [nchar](10) NULL,
	[TINHTRANG] [int] NULL,
	[KHUVUC] [nchar](10) NULL,
 CONSTRAINT [PK_BAN] PRIMARY KEY CLUSTERED 
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOANHTHU]    Script Date: 12/16/2019 11:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANHTHU](
	[MAQL] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nchar](20) NULL,
	[MAMON] [int] NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [int] NULL,
	[NGAYTT] [date] NULL,
 CONSTRAINT [PK_DOANHTHU] PRIMARY KEY CLUSTERED 
(
	[MAQL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/16/2019 11:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[MABAN] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [int] NULL,
	[GUIBEP] [bit] NULL,
	[THANHTOAN] [bit] NULL,
	[NGAYBAN] [date] NULL,
	[CHUTHICH] [nvarchar](200) NULL,
	[MAMON] [int] NULL,
	[USERNAMENV] [nchar](20) NULL,
	[USERNAMETN] [nchar](20) NULL,
	[NGAYTT] [date] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MON]    Script Date: 12/16/2019 11:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON](
	[TENMON] [nvarchar](200) NOT NULL,
	[DONGIA] [int] NOT NULL,
	[LOAI] [nvarchar](100) NOT NULL,
	[MAMON] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 12/16/2019 11:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[USERNAME] [nchar](20) NOT NULL,
	[PASSWORD] [nchar](20) NULL,
	[TENNHANVIEN] [nvarchar](100) NULL,
	[GIOITINH] [bit] NULL,
	[NAMSINH] [date] NULL,
	[CHUCVU] [int] NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DOANHTHU]  WITH CHECK ADD  CONSTRAINT [FK_DOANHTHU_MON] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MON] ([MAMON])
GO
ALTER TABLE [dbo].[DOANHTHU] CHECK CONSTRAINT [FK_DOANHTHU_MON]
GO
ALTER TABLE [dbo].[DOANHTHU]  WITH CHECK ADD  CONSTRAINT [FK_DOANHTHU_NGUOIDUNG] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[NGUOIDUNG] ([USERNAME])
GO
ALTER TABLE [dbo].[DOANHTHU] CHECK CONSTRAINT [FK_DOANHTHU_NGUOIDUNG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BAN] FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_BAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_MON] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MON] ([MAMON])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_MON]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NGUOIDUNG] FOREIGN KEY([USERNAMETN])
REFERENCES [dbo].[NGUOIDUNG] ([USERNAME])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NGUOIDUNG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NGUOIDUNG1] FOREIGN KEY([USERNAMETN])
REFERENCES [dbo].[NGUOIDUNG] ([USERNAME])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NGUOIDUNG1]
GO
